/* navigation bar */
*{
    box-sizing: border-box;
}
body{
  background-color: #f5f5f5;
  margin: 0;
  overflow-x: hidden;
}
/* .container{
    background-color: rgba(0,0,0, .1);
    margin: 0;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 10px;
} */
.navbar{
    background-color: rgba(0,0,0,.1);
    z-index: 999999;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}
.container{
  width: 100%;
}
.container .navbar-brand{
    font-weight: 600;
    font-size: 28px;
    color: white;
}
.navbar .container .color{
    color: black !important;
}
.container .collapse a{
    font-weight: 600;
    color: white !important;
    margin-left: 10px;
}
.container .collapse a::after{
    content: '';
    position: absolute;
    left: 7px;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: .5s;
}
.container .collapse a:hover:after{
    width: 70%;
}
/* welcome section  */
.welcome{
    z-index: 99;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.welcome h2{
    color: white;
    font-size: 72px;
    font-weight: 600px;
    position: relative;
}
.item{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
}
/* animation */
/* .wrapper{
    display: flex;
  } */
  .contain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contain ul{
    position: relative;
    bottom: 0;
}
.contain .list-item{
    color: white;
    font-size: 35px;
    text-align: center;
    height: 50px;
    width: 0px;
    padding: 0%;
    border-right: 1px white solid;
    overflow: hidden;
    animation: slide 3s infinite;
    animation-direction: alternate;
}
.contain .list-item li{
    list-style: none;
}
@keyframes slide{
    0%{
        width: 0;
    }
    100%{
        width: 150px;
    }
}

  @media screen and (max-width:576px){
    .welcome h2{
      font-size: 25px;
    }
    .dynamic-txts li{
      font-size: 25px;
    }
    .contain .list-item{
      font-size: 20px;
      height: 30px;
    }
  }
  @media screen and (min-width:576px) and (max-width:768px){
    .welcome h2{
      font-size: 30px;
    }
    .dynamic-txts li{
      font-size: 30px;
    }
    .contain .list-item{
      font-size: 30px;
      height: 40px;
    }
  }
  @media screen and (min-width:768px) and (max-width:992px){
    .welcome h2{
      font-size: 35px;
    }
    .dynamic-txts li{
      font-size: 35px;
    }
    .contain .list-item{
      font-size: 30px;
      height: 40px;
    }
  }
  /* animation end */
/* nav bar and welcome section end */
.about-section .progress-bar{
  background-color: #0078ff !important;
}
.about-section .my-progress{
  height: 10px;
}
.about-section .about-us .h2{
  position: relative;
}
.about-section .about-us .h2::after{
  content: '';
  height: 5px;
  width: 100px;
  background-color: #0078ff;
  position: absolute;
  bottom: -10;
  left: 0;
}
@media screen and (max-width:576px){
  .about-section .container .w-50{
    width: 100% !important;
  }
}
@media screen and (min-width:576px) and (max-width:768px){
  .about-section .container .w-50{
    width: 100% !important;
  }
}
/* home section end */
/* about section */
bod{
  color: #4e4e4e;
}
p{
  font-size: 1.25rem;
  font-weight: 300;
}
.title-left{
  font-size: 2rem;
  margin-bottom: 2rem;
  
}
.title-left::after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #0078ff;
  width: 100px;
  bottom: -10px;
  left: 0px;

}


/*about*/
ul{
list-style: none;
}
.w-85{
  width: 85%;
}
.w-90{
  width: 90%;
}
.bg-skill{
  background-color: #cde1f8;
}
.my-p{
  padding: 0.4rem;
}


/* Blog & Contact */


body {
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#blog {
  background-color: #f5f5f5;
  padding-bottom: 60px;
}

.container {
  width: 95%;
  margin: auto;
}

#blog .container .head {
  text-align: center;
  margin-bottom: 64px;
}

#blog .container .head h3 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 8px;
}

#blog .container .head p {
  font-size: 1rem;
  font-weight: 200;
  margin-bottom: 16px;
}

#blog .container .head .border {
  height: 5px;
  width: 40px;
  background-color: #0078ff;
  margin: auto;
}

#blog .card {
  border: 1px solid rgb(218, 211, 211);
  border-radius: 5px;
}

#blog .container .card-header .image img {
  width: 100%;
}

#blog .container .card-body {
  background-color: #FFF;
  padding: 0px 15px;
}

#blog .container .card-body a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 1.28rem;
}

#blog .container .card-body h3 {
  margin-bottom: 10px;
}

#blog .container .card-body p {
  padding-bottom: 30px;
}

#blog .container .card-body a:hover {
  color:#0078ff;
  transition: 1s;
}

#blog .container .title {
  background-color: #0078ff;
  color: #FFF;
  width: fit-content;
  text-transform: uppercase;
  padding: 8px 15px; 
  border-radius: 5px;
  margin: auto;
  transform: translateY(-60%);
}

#blog .container .card-footer {
  border-top: 1px solid rgb(218, 211, 211);
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
}

#blog .container .card-footer img {
  width: 32px;
  border-radius: 50%;
  display: inline-block;
}

#blog .container .card-footer .author span {
  display: inline-block;
  margin-left: 10px ;
}


#blog .container .card-footer a {
  color: #000;
  text-decoration: none;
}

#blog .container .card-footer a:hover {
  color: #0078ff;
  transition: 1s;
}

#blog .container .card-footer .author {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width:576px) {
  #blog .container {
      width: 90%;
  }
}

@media (min-width:768px) {
  #blog .container {
      width: 720px;
  }

  #blog .body {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  #blog .body .card {
      flex-basis: 31%;
      box-shadow: 0px 0px 5px gray;
  }

}

@media (min-width:992px) {
  #blog .container {
      width: 960px;
  }
}

@media (min-width:1200px) {
  #blog .container {
      width: 1140px;
  }
}

@media (min-width:1400px) {
  #blog .container {
      width: 1320px;
  }
}


#contact {
  background-color: #0078ff;
  padding: 6rem 10px 2rem;
}

#contact .container {
  background-color: #FFF;
  padding: 3rem 1rem;
  box-shadow: 0px 0px 5px rgb(53, 51, 51);
}

#contact  h4 {
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 600;
} 

#contact .border {
  width: 100px;
  height: 4px;
  background-color: #0078ff;
  margin-top: 10px;
}

#contact .form {
  margin-top: 30px;
}

.form input, .form textarea {
  display: block;
  width: 100%;
  margin: 15px auto;
  padding: 12px 15px;
  border: thin solid #c5bfbf;
}

.form input:focus, .form textarea:focus {
  outline: 3px solid rgba(6, 120, 250, .4);
  border: thin solid #000;
  transition: .3s;
}


.form button {
  display: block;
  width: 150px;
  background-color: #0078ff;
  color: #FFF;
  text-transform: capitalize;
  padding: 15px 20px;
  border: none;
  border-radius: 50px;
  margin: 40px auto 0px;
  font-size: 1rem;
  font-weight: 400 ;
}

.form button:hover {
  background-color: rgba(6, 120, 250, .9);
  outline: 3px solid rgba(6, 120, 250, .4);
  transition: .3s;
}


#contact .touch {
  margin-top: 20px;
}

#contact p {
  margin: 15px;
  line-height: 2rem;
}

#contact .touch a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 1.75;
  border: 2px solid #0078ff;
  border-radius: 50%;
  margin-right: 5px;
}

#contact .touch a:hover {
  background-color: #0078ff;
  color: #FFF;
  outline: 3px solid rgba(6, 120, 250, .4);
  transition: .2s;
}

#contact .touch .adress i {
  display: inline-block;
  margin-right: 15px;
  color: #0078ff;
}

@media (min-width:768px) {
  #contact .container {
      width: 720px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  #contact .container div {
      flex-basis: 48%;
  }

}

@media (min-width:992px) {
  #contact .container {
      width: 920px;
  }
}

@media (min-width:1200px) {
  #contact .container {
      width: 1140px;
  }
}

@media (min-width:1400px) {
  #contact .container {
      width: 1320px;
  }
}

footer {
  background-color: #0062d3;
  color: #FFF;
  padding: 20px 10px;
}

footer .container {
  width: 95% ;
  margin: auto;
  text-align: center;
  line-height: 2rem;
}

footer .container span {
  font-weight: bold;
}

footer .container a {
  color: #FFF;
  text-decoration: none;
}