body{
    background-color: #f5f5f5;
}
.blue{
    width: 40px;
    height: 5px;
    background-color: blue;
   text-align: center;
   margin: auto;
   margin-bottom: 60px;
}
card-body{
    background-color: white;
   
    
}
i{
    float: right;
   margin-right: 10px;
   color: blue;
}
.clear-fix{
    clear: both;
}
div.img{
    width: 75%;
    height:auto;
    background-color:rgba(0,0,255,.5);
    margin-top: 40px;




}